body {

	background: #02AAB0; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #02AAB0 , #00CDAC); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #02AAB0 , #00CDAC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	/* You can find more gradients like this at uigradients.com */       
}



.mypanel {
	height: 625px;
	overflow-y: scroll;
}
